

.cerrar-sesion-general {
    background-color: #2471a3 ; /* Fondo blanco opaco */
    color: #ffffff; /* Texto blanco */
    font-weight: bold; /* Negritas */
    padding: 5px 15px; /* Espaciado interno */
    border-radius: 50px; /* Bordes redondeados para óvalo */
    text-align: center; /* Centra el texto */
    display: inline-block; /* Mantiene el ancho en contenido */
    transition: background-color 0.3s ease; /* Transición suave */
}

.cerrar-sesion-general:hover {
    background-color: rgba(255, 255, 255, 0.225); /* Color más opaco al pasar el mouse */
    color: #000; /* Texto negro al pasar el mouse */
}